 
 *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}
body{
  flex-wrap: wrap;


}
.w3-sidebar{
  width: 35%;
  background-color: cadetblue;
  padding: 0;
  
}
.w3-bar-block .w3-bar-item {
  padding: 1px;
}
.sid2{
  margin-left: 35%;
  border-right: 1px solid cadetblue;
  
 

}

.top{
  text-align: center;
  contain: content;
  align-items: center;
 border: 20px;
 padding: 2px;
}

.topname{
  margin: 0px;
  background-color: cadetblue;
}
h2 {
  text-align: center;
font-size: 90% ;
font-weight: bold;
padding: 5px;
}
h6 {
text-align: center;
font-size: 85% ;
font-weight: bold;
padding: 0;
margin: 0;
}
.mini{
width:30%;
border-radius: 50%;

}
p{
  font-size: 75%;
  font-weight: bold;
 padding: 0;
}
@media screen and (min-width: 600px){
 body{
 margin-left: 30%;
 margin-right: 30%
 }
 .w3-sidebar{
  width: 250px;
 }
 .sid2{
  margin-left:  250px;;
 }
}